@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Moon+Dance&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: #efefef;
    color: #333;
}

.app {
    width: 70%;
    box-shadow: 2px 2px 7px rgba(0,0,0,.3);
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;

    .header {
        position: relative;
        width: 100%;
        display: block;

        h1 {
            font-family: "Moon Dance", serif;
            font-size: 50px;
            display: inline-block;
            background-color: #fff;
            z-index: 2;
        }

        #line {

            width: 100%;
            height: 2px;
            background-color: #333;

            right: 0;
            top: 25%;
        }

        .month-year {
            display: flex;
            padding: 10px 0;
            margin: 25px 0;

            border-bottom: 2px solid #333;

            h3 {
                display: inline-block;
                width: 50%;
                letter-spacing: 2px;

                span {
                    font-family: "Moon Dance", serif;
                    font-size: 2rem;
                    letter-spacing: normal;
                    color: rgb(184, 184, 184);
                    font-weight: 400;
                }
            }
        }
    }

    .planner {
        display: grid;
        grid-template-rows: 250px 1fr;
        grid-template-columns: 1.2fr 1fr;
        column-gap: 32px;
        width: 100%;
        grid-template-areas:
            "week notes"
            "week todo";

            #week {
                grid-area: week;

                .weekday {
                    min-height: 100px;
                    border: 1px solid #333;
                    padding: 10px;
                    transition: all .1s ease-in-out;
                    position: relative;

                    cursor: pointer;

                    &:hover {
                        background-color: black;
                        color: #fff;
                        border-color: transparent;
                    }

                    & + .weekday {
                        margin-top: 8px;
                    }

                    span {
                        display: inline-block;
                        position: absolute;
                        font-size: 3.5rem;
                        color: #333;
                        font-weight: 800;

                        bottom: 0;
                        right: 10px;

                    }
                }
            }
    
            #notes {
                grid-area: notes;
                border-bottom: 1px solid #333;

                h2 {
                    font-family: "Moon Dance", serif;
                    font-size: 2rem;
                    margin-bottom: 8px;
                }

                textarea {
                    font-family: "Montserrat", sans-serif;
                    width: 100%;
                    height: 100%;
                    color: #333;
                    font-size: 16px;
                    border: none;
                    outline: none;

                    &::placeholder {
                        color: #c5c5c5;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .enternotes {
                    letter-spacing: 1px;
                    padding-bottom: 3.5rem;
                    margin-bottom: 16px;
                    display: none;

                    position: relative;

                    .icons {
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        
                        input {
                            background: none;
                            border: none;
                        }

                        #edit {
                            width: 25px;
                            height: 25px;
                            background-image: url(../assets/writing.png);
                            background-size: cover;
                        }

                        #delete {
                            width: 29px;
                            height: 29px;
                            background-image: url(../assets/delete.png);
                            background-size: cover;
                            margin-left: 4px;
                        }
                    }
                }

            }
    
            #todo {
                grid-area: todo;
                border-bottom: 1px solid #333;
                margin-top: 16px;
                h2 {
                    font-family: "Moon Dance", serif;
                    font-size: 2rem;
                }

                .tasks {
                    width: 100%;

                    .task {
                        width: inherit;

                        .task-input {
                            width: inherit;
                            display: flex;
                            align-items: baseline;
                            border-bottom: 1px #c5c5c5 solid;
                            margin: 8px 0;

                            input {
                                padding: 0 5px;
                                color: #333;
                                font-family: "Montserrat", serif;
                                font-size: 1rem;
                                background-color: transparent;
                                border: none;
                                width: 100%;
                                height: 100%;

                                &:focus {
                                    outline: none;
                                    border: none;
                                }
                            }
                        }

                        .task-injection {                    
                            display: flex;
                            align-items: baseline;
                            border-bottom: 1px #c5c5c5 solid;
                            margin: 32px 0;
                            list-style: none;

                            li {
                                display: block;
                                font-size: 20px;
                                padding-bottom: 4px;
    
                                #when {
                                    color: #c5c5c5;
                                    margin-left: 8px;
                                    font-size: 14px;
                                }
                            }
    
                            .icons {
                                margin-left: auto;
    
                                input {
                                    background: none;
                                    outline: none;
                                    border: none;
                                    display: inline-block;
    
                                    cursor: pointer;
                                }
    
                                #edit {
                                    width: 25px;
                                    height: 25px;
                                    background-image: url(../assets/writing.png);
                                    background-size: cover;
                                }
        
                                #delete {
                                    width: 29px;
                                    height: 29px;
                                    background-image: url(../assets/delete.png);
                                    background-size: cover;
                                    margin-left: 4px;
                                }
                            }
                        }
                    }
                }
            }
    }
}
